html{
    font-size: 18px;
}


.display-4 {
    font-family: 'Annie Use Your Telescope', cursive; 
}

.icon {
    font-family: 'Rye', cursive;
}

/*sign-up today carousel header*/
.join {
    margin-bottom: 3.7em;
}

/* images */

.slutman-img {
    background: #777;
    color: #777;
}

.bootstrap-img {
    position: relative;
    margin-left: auto 0;
    
}